<!DOCTYPE html>
<html>
    <body>
        <div>
            <h1>Registration Page</h1>
        </div>
        <div>
            <form action="action_page.php">
                <fieldset>
                    <legend>Personal information:</legend>
                    First name:<br>
                    <input type="text" name="firstname">
                    <br>
                    Last name:<br>
                    <input type="text" name="lastname">
                    <br>
                    Email:<br>
                    <input type="text" name="email">
                    <br>
                    Password:<br>
                    <input type="text" name="password">
                    <br>
                    Confirm Password:<br>
                    <input type="text" name="passwordconf">
                    <br><br>
                    <input type="submit" value="Submit">
                </fieldset>
            </form>
        </div>
    </body>
</html>