<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.5.3/angular-route.min.js"></script>
		<script src="/static/js/app.js"></script>
		<link rel="stylesheet" href="/static/css/style.css"/>
    </head>

    <body ng-app="myApp">
        <ul>
          <li><a class="active" href="/#/index">Home</a></li>
          <li><a href="/#/scrape">Scrape</a></li>
          <li><a href="/#/settings">Settings</a></li>
          <li><a href="/#/summary">Summary</a></li>
        </ul>
		
        <div ng-view></div>
    </body>
</html>